<%- include("partials/header.ejs") %>
<body>
    <div class="px-4 pt-5 my-5 text-center">
      <h1 class="display-5 fw-bold text-body-emphasis">Word displayed</h1>
      <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <!-- <form action="/main" method="GET">
            <input  class="btn btn-lg px-4 btn-primary"  type="submit" value="START">
          </form>
          <form action="/main" method="GET  ">
            <input  class="btn btn-lg px-4 btn-primary"  type="submit" value="STOP">
          </form> -->
          <button type="button" class="btn btn-lg px-4 btn-primary" onclick="changeButton()">START</button>
        </div>
      </div>
      <video></video>
      <div class="col-lg-6 mx-auto">
        <div>
          <h1>Camera Front End</h1>
          <video id="video" width="640" height="480" autoplay></video>
          <button id="startButton">Start Camera</button>
          <button id="stopButton">Stop Camera</button>

          <script>
            document.addEventListener('DOMContentLoaded', function() {
            const video = document.getElementById('video');
            const startButton = document.getElementById('startButton');
            const stopButton = document.getElementById('stopButton');
            let stream;

            // Function to start the camera
            async function startCamera() {
                try {
                    stream = await navigator.mediaDevices.getUserMedia({ video: true });
                    video.srcObject = stream;
                } catch (error) {
                    console.error('Error accessing camera:', error);
                }
            }

            // Function to stop the camera
            function stopCamera() {
                if (stream) {
                    const tracks = stream.getTracks();
                    tracks.forEach(track => track.stop());
                    video.srcObject = null;
                }
            }

            // Event listener for the start button
            startButton.addEventListener('click', startCamera);

            // Event listener for the stop button
            stopButton.addEventListener('click', stopCamera);
            });
        </script>
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <!-- <form action="/main" method="GET">
            <input  class="btn btn-lg px-4 btn-success"  type="submit" value="SUBMIT">
          </form>
          <form action="/main" method="GET  ">
            <input  class="btn btn-lg px-4 btn-danger"  type="submit" value="BACKSPACE">
          </form> -->
          <button type="button" class="btn btn-lg px-4 btn-success" onclick="">SUBMIT</button>
          <button type="button" class="btn btn-lg px-4 btn-danger" onclick="">BACKSPACE</button>
        </div>
      </div>
      
      <div class="overflow-hidden" style="max-height: 30vh;">
      </div>
    </div>
</body>